/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/
h1,
h2,
h3,
h4,
h5 {
  font-family: Dosis;
}

.privacy-link {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #fff;
    text-decoration: underline;
    opacity: 0.8;
  }
}

.dr-last-modified-text {
  font-size: 12px;
}

/* Tabed Highlight */

#body .nav-tabs {
  position: unset;
  width: unset;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-content > .active {
  display: block;
}

.nav-tabs {
  color: #0f0f0f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-tabs > li {
  color: #0f0f0f;
  float: left;
}

.nav-tabs > li > a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
  line-height: 1;
}

.code-tabs {
  margin: 10px 0px 0px 00px;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  color: #000 !important;
  background: transparent;
}

.alert-warning {
  border-color: #f7941e;
}

.alert-info {
  border-color: #0c3455;
}

.alert-success {
  border-color: #8dc63f;
}

.td-sidebar-nav__section-title {
  font-weight: unset;
}

.section-index h2 {
  font-size: 1.15rem;

  a {
    color: #ef4123;
    text-decoration: underline;
  }
}

.td-content {
  a {
    font-style: italic;
    text-decoration: underline;
  }
}

.dr-last-modified-text {
  color: #3e3939;
}

.td-content pre > code {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4em;
}

// NEW MENU

.td-sidebar-nav__section-title {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 8px 0;
  border-bottom: 1px solid #000;
}

.td-sidebar-nav__section > ul {
  padding: 0;
}

/* Release shortcodes */

.release-note-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;

  &--type {
    width: 66px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    min-width: 66px;
    display: table;
    padding: 5px;
    border-radius: 4px;
  }

  &--type-feature {
    background-color: #8dc63f;
  }

  &--type-fix {
    background-color: #ef4123;
  }

  &--type-chore {
    background-color: #f7941e;
  }

  &--type-docs {
    background-color: #ccc;
  }

  &--repository,
  &--date {
    width: 165px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    text-align: center;
  }

  &--date {
    color: #969696;
  }
}
