<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body class="td-{{ .Kind }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </div>
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
            {{ partial "toc.html" . }}
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            {{ if .Site.Params.isDocumentationDeprecated}}
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">

                <b>&#9888;&#65039; {{ T "no_longer_maintained_message_one" }} 
                  {{ T "no_longer_maintained_message_two" }}: 
                  {{ .Site.Params.version_path }}
                </b>
              </h4>
              <hr>

              <p>{{.Site.Title}} {{.Site.Params.version_path}} {{ T "no_longer_maintained_message_three" }} 
                <a href="{{.Site.BaseURL}}" style="text-decoration: underline;">
                  {{ T "no_longer_maintained_message_four" }}
                </a>.
              </p>
            </div>
            {{ end }}
            
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>